<?xml version="1.0" encoding="UTF-8"?>
<launch>        
     <env name="GAZEBO_MODEL_PATH"
       value="$(find maze_solver)/models:$(optenv GAZEBO_MODEL_PATH)" />

    <include file="$(find maze_solver)/launch/maze_sdf.launch">
        <arg name="robot_name" value="maze"/>
        <arg name="x" value="0.0" />
        <arg name="y" value="0.0" />
        <arg name="z" value="0.0" />
        <arg name="roll" value="0.0" />
        <arg name="pitch" value="0.0" />
        <arg name="yaw" value="0.0" />
        <arg name="sdf_robot_file" value = "$(find maze_solver)/models/model.sdf" />
    </include>
</launch>